<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniapp.plugin.hikvisionisc">

    <application>
        <activity android:name=".HikvisionMainActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".HikvisionControlActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
    </application>

</manifest>